<div class="table-responsive">
    <table class="table table-striped table-games">
        <thead>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Score</th>
            <th>Team</th>
            <th>Round</th>
            <th>Referee</th>
            <th>Stadium</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
            {{ include( 'AppBundle:game:gamesList.html.twig' ) }}
        </tbody>
    </table>
</div>
